.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vertualenv
venv

# Ignoring pycache for dashboard
dashboard/__pycache__
dashboard/migrations
# Ignoring pycache for backend_nest
backend_nest/__pycache__
